.profile {
  min-width: 880px;
  box-sizing: border-box;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .profile {
    min-width: 100vw;
  }
}

@media screen and (max-width: 770px) {
  .profile {
    padding: 42px 19px 0;
    flex-direction: column;
  }
}
