.header {
  min-width: 880px;
  box-sizing: border-box;
  padding-top: 45px;
}

@media screen and (max-width: 880px) {
  .header {
    min-width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .header {
    padding-top: 28px;
  }
}
